# Vivado project files
*.xpr
*.log
*.jou
*.str
*.debug
*.rpt

# Vivado generated folders
*.cache/
*.runs/
*.hw/
*.ip_user_files/
*.sim/

# Simulation outputs
xsim.dir/
*.wdb
*.pb
*.vcd

# Temporary OS files
.DS_Store
Thumbs.db

# Backup files
*.bak